{% block menu %}
<div class="navigation navbar clearfix">
    <div class="pull-left">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="nav-collapse collapse">
            <ul id="menu-main" class="nav">
                
                {% for menuitem in menu %}
                <li class="menu-item active-menu-item {% if menuitem.child %}menu-item-parent {% endif %}">
                    <a href="default.htm">{{ menuitem.caption }}</a>
                    <ul class="sub-menu">
                        {% for child in menuitem.child %}
                        <li class="menu-item"><a href="frontpage-slider.html">{{ child.caption }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                
                <!--
                <li class="menu-item menu-item-parent">
                    <a href="#">Listings</a>

                    <ul class="sub-menu">
                        <li class="menu-item"><a href="properties/default.htm">Properties listing</a></li>
                        <li class="menu-item"><a href="properties/property-detail.html">Property detail</a></li>

                        <li class="menu-item"><a href="agencies/default.htm">Agencies listing</a></li>
                        <li class="menu-item"><a href="agencies/agency-detail.html">Agencies detail</a></li>

                        <li class="menu-item"><a href="agents/default.htm">Agents listing</a></li>
                        <li class="menu-item"><a href="agents/agent-detail.html">Agent detail</a></li>

                        <li class="menu-item"><a href="register.html">Register</a></li>
                        <li class="menu-item"><a href="login.html">Login</a></li>
                    </ul>
                </li>

                <li class="menu-item menu-item-parent">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="404.html">404 page</a></li>
                        <li class="menu-item"><a href="faq.html">FAQ page</a></li>
                        <li class="menu-item"><a href="pricing.html">Pricing</a></li>
                    </ul>
                </li>

                <li class="menu-item menu-item-parent">
                    <a href="#">Submissions</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="submissions/default.htm">List submissions</a></li>
                        <li class="menu-item"><a href="submissions/add.html">Add submission</a></li>
                        <li class="menu-item"><a href="submissions/edit.html">Edit submission</a></li>
                    </ul>
                </li>

                <li class="menu-item menu-item-parent">
                    <a href="#">Templates</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="templates/default-left.html">Left sidebar</a></li>
                        <li class="menu-item"><a href="templates/default-right.html">Right sidebar</a></li>
                        <li class="menu-item"><a href="templates/default-full.html">Full width</a></li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a href="contact.html">Contact</a>
                </li>
                -->
            </ul>
        </div>
    </div>

    <div class="pull-right">
        <div class="list-property">
            <a href="submissions/default.htm">Patalpinti skelbimą<div class="ribbon"><span class="icon icon-normal-circle-plus"></span></div>
            </a>
        </div>
        <!-- /.list-property -->
    </div>
    <!-- /.pull-right -->

</div>

{% endblock %}